.contenedor-tarjetas {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: flex;
}

.card-link:hover .card {
  transform: scale(1.02);
}
